version: '3'
services:
  app:
    build: ./
    volumes:
      - ./:/app
    ports:
      - 4000:4000
    environment:
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - REPO=${REPO}
      - OWNER=${OWNER}
    command:
      sh -c 'npm run start:server'
