extends layout

block content
  header
    a(href="/")
      img(src="/ic_logo_wordmark_white.png")

  .container
    if submitted && success
      .toast.success
        h2 Thank you for submitting this issue!
        p Please keep continuing!
        a(href=issue) Look at your submitted issue.
    if submitted && !success
      .toast.failure
        h2 Something went wrong :(
        p We're sorry.

    .form-container
      h1 Report a Fenix bug

      form(action="/create", method="POST", enctype="multipart/form-data")
        div(class="input-group")
          label(for="fenix") Fenix Version*
          input(id="fenix", type="text", name="fenix", required)
        div(class="input-group")
          label(for="device") Device*
          input(id="device", type="text", name="device", required)
        div(class="input-group")
          label(for="android") Android Version*
          input(id="android", type="text", name="android", required)
        div(class="input-group")
          label(for="type") Issue Type*
          select(id="type", name="type")
            option(value="Crash") Crash
            option(value="Language is not appearing properly") Language is not appearing properly
            option(value="Non functional (Performance issues / slowness / loading)") Non functional (Performance issues / slowness / loading)
            option(value="Functional (doesn’t behave as expected)") Functional (doesn’t behave as expected)
            option(value="Android app related (bugs not inside the browser)") Android app related (bugs not inside the browser)
            option(value="Other") Other
        .big-padding
          h2 Did you find a Web Compatibility bug?
          p The website you’re visiting has a bug in Firefox but not in another browser? File your bug <a href="https://webcompat.com">here</a>.
        h2 Issue Description
        div(class="input-group")
          label(for="upcomingfeature") Is there a feature you would like to see in the upcoming Firefox for Android release? Let us know here!
          textarea(name="upcomingfeature")
        div(class="input-group")
          label(for="reproduce") <strong>Steps to reproduce*</strong> - Write down everything you did immediately before you arrived at the bug as clearly as possible
          textarea(name="reproduce", required)
        div(class="input-group")
          label(for="expected") <strong>Expected behavior*</strong> - What were you hoping/expecting the browser to do?
          textarea(name="expected", required)
        div(class="input-group")
          label(for="actual") <strong>Actual behavior*</strong> - What was the actual result, what did the browser actually do?
          textarea(name="actual", required)
        div(class="input-group")
          p Did you try this in another browser?*
          .choice-row
            .choice
              label(for="otherbrowser-yes") Yes
              input(id="otherbrowser-yes", name="otherbrowser", type="radio", value="yes")
            .choice
              label(for="otherbrowser-no") No
              input(id="otherbrowser-no", name="otherbrowser", type="radio", value="no", checked)
        div(class="input-group")
          label(for="screenshot") Add a screenshot of what you see
          input(id="screenshot", type="file", name="screenshot")
        div(class="input-group")
          label(for="github") Your GitHub account name if you have one
          input(id="github", type="text", name="github")
        button(type="submit") Create Issue

  footer
    a(href="https://mozilla.org")
      img(src="https://www.mozilla.org/media/protocol/img/logos/mozilla/white.612a25fa976b.svg")
    p Portions of this content are ©1998–2019 by individual mozilla.org contributors. Content available under a <a rel="license" href="https://mozilla.org/foundation/licensing/website-content/">Creative Commons license</a>.
    ul
      li
        a(href="/privacy/") Privacy
      li
        a(href="/privacy/websites/") Website Privacy Notice
      li
        a(href="/privacy/websites/#cookies") Cookies
      li
        a(href="/about/legal/") Legal
      li
        a(href="/about/governance/policies/participation/") Community Participation Guidelines